@{
    ViewBag.Title = "CMS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Html.RenderPartial("_contentPartial");
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <div class="container" id="createContent" data-content-type="@ViewBag.ContentType" style="margin:30px 0px;">
        <fieldset>
            <h3>Create @ViewBag.ContentType</h3>

            @{
    if (ViewBag.Model == null)
    {

    }
    else
    {
        foreach (var property in ViewBag.Model.GetType().GetProperties())
        {
            if (property.Name.ToUpper() != "ID" && property.Name.ToUpper() != "SEQUENCE" && property.Name.ToUpper() != "CONTENTTYPE")
            {
                <div class="editor-label">
                    <label for="@property.Name">@property.Name</label>
                </div>
                <div class="editor-field">
                    <input id="@property.Name" class="text-box single-line" type="text" value="" name="@property.Name" data-val-required="The ContentType field is required." data-val="true">
                    <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="@property.Name"></span>
                </div>
            }
        }
    }
            }
            <p>
                <input id="btnSubmit" type="submit" value="Create" class="btn btn-primary btn-block" />
            </p>
        </fieldset>
    </div>
}

@section Scripts{
    <script>
        $(document).ready(function () {
            var manageType = 'Create';
            console.log(window.location.pathname);
            var contentType = window.location.pathname.split('/').splice(-1);
            $('#contentTypeSel').show().val(contentType);
            $('input:radio[name="manage"][value="' + manageType + '"]').prop('checked', true)
            $('#contentTypeSel').change(function () {
                console.log(this.value);
                contentType = this.value;
                $('#manageOptionDiv').fadeIn('slow');
            });

            $('input:radio[name="manage"]').change(function () {
                manageType = this.value;
                console.log(manageType);
            });

            $('#btnManageContent').click(function () {
                contentType = $('#contentTypeSel').val();
                manageType = $('input:radio[name="manage"]:checked').val();
                window.location.href = '/content/' + manageType + '/' + contentType;
                //$('#contentPlaceHolder').load('/content/' + manageType + '/' + contentType);
            });

            var contentType = $('#createContent').attr('data-content-type');
            if (contentType.indexOf('product') > -1) {
                $('#PageContent').summernote({


                        fontsize: ['fontsize'],
                        height: 300,
                        minHeight: 100,
                        defaultBackColor: '#e0e0e0'

                });
                //$('#PageContent').materialnote({
                //    toolbar: toolbar,
                //    height: 550,
                //    minHeight: 100,
                //    defaultBackColor: '#e0e0e0'
                //});
            }

            $('#btnSubmit').click(function () {
                $('#PageContent').val(encodeURIComponent($('#PageContent').code()));

            });

        });

    </script>
}

