@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <div class="container" style="margin:30px 0px;">
        <fieldset>
            <h3>Creat @ViewBag.ContentType</h3>

            @{
    foreach (var property in ViewBag.Model.GetType().GetProperties())
    {
        if (property.Name.ToUpper() != "ID" && property.Name.ToUpper() != "SEQUENCE" && property.Name.ToUpper() != "CONTENTTYPE")
        {
            <div class="editor-label">
                <label for="@property.Name">@property.Name</label>
            </div>
                <div class="editor-field">
                    <input id="@property.Name" class="text-box single-line" type="text" value="" name="@property.Name" data-val-required="The ContentType field is required." data-val="true">
                    <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="@property.Name"></span>
                </div>
        }



    }
            }
            <p>
                <input type="submit" value="Create" class="btn btn-primary btn-block" />
            </p>
        </fieldset>
    </div>
}

