@model presevi_cms.Models.PreseviDataModel

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>PreseviDataModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContentType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContentType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TargetUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TargetUrl)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageUrl)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageAltText)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageAltText)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageHeader)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageHeader)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sequence)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sequence)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
