
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm("Edit", "Content"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)




    <div class="container">
        <h3>Edit @ViewBag.ContentType</h3>
        @{
    if (ViewBag.ContentType == "banner")
    {
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <ul id="editTabs" class="nav nav-tabs nav-justified" role="tablist">
                    @{
        string liActive = "active";
        foreach (var banner in ViewBag.BannerList)
        {

            //Submit has value attribute equivalent to ID. We use the ID as prefix to find the respective Form values.
            //As we have multiple forms generated using For each, we have to append the Request with 'ID-'
            <li class="nav-item @liActive">
                <a href="#@banner.Id-banner" role="tab" data-toggle="tab">@banner.ImageHeader</a>
            </li>
            liActive = "";
        }
                    }
                </ul>
            </div>
            <div class="panel-body">
                <div id="tabContent" class="tab-content">
                    @{
        string active = "active in";
        foreach (var banner in ViewBag.BannerList)
        {
            <div id="@banner.Id-banner" class="tab-pane fade @active">
                <input type="hidden" name="@banner.Id-ContentType" value="@banner.ContentType" />
                <label for="@banner.Id-TargetUrl">Target URL</label>
                <input type="text" name="@banner.Id-TargetUrl" id="@banner.Id-TargetUrl" value="@banner.TargetUrl" />
                <label for="@banner.Id-ImageUrl">Image URL</label>
                <input type="text" name="@banner.Id-ImageUrl" id="@banner.Id-ImageUrl" value="@banner.ImageUrl" />
                <label for="@banner.Id-ImageAltText">Image Alternative Text</label>
                <input type="text" name="@banner.Id-ImageAltText" id="@banner.Id-ImageAltText" value="@banner.ImageAltText" />
                <label for="@banner.Id-ImageHeader">Image Header</label>
                <input type="text" name="@banner.Id-ImageHeader" id="@banner.Id-ImageHeader" value="@banner.ImageHeader" />
                <label for="@banner.Id-Description">Description</label>
                <textarea name="@banner.Id-Description" id="@banner.Id-Description">@banner.Description</textarea>
                <label for="@banner.Id-Tags">Tags</label>
                <input type="text" name="@banner.Id-Tags" id="@banner.Id-Tags" value="@banner.Tags" />
                <button type="submit" name="Submit" class="btn btn-info banner-edit" value="@banner.Id">Update</button><br />
            </div>
            active = "";
        }
                    }
                </div>
            </div>
        </div>
    }
    else if (ViewBag.ContentType == "product-category")
    {
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <ul id="editTabs" class="nav nav-tabs nav-justified" role="tablist">
                    @{
        string liActive = "active";
        foreach (var pc in ViewBag.ProductCategoryList)
        {

            //Submit has value attribute equivalent to ID. We use the ID as prefix to find the respective Form values.
            //As we have multiple forms generated using For each, we have to append the Request with 'ID-'
            <li class="nav-item @liActive">
                <a href="#@pc.Id-pc" role="tab" data-toggle="tab">@pc.ProductCategory</a>
            </li>
            liActive = "";
        }
                    }
                </ul>
            </div>
            <div class="panel-body">
                <div id="tabContent" class="tab-content">
                    @{
        string active = "active in";
        foreach (var pc in ViewBag.ProductCategoryList)
        {
            <div id="@pc.Id-pc" class="tab-pane fade @active">
                <input type="hidden" name="@pc.Id-ContentType" value="@pc.ContentType" />
                <label for="@pc.ImageUrl">Image URL</label>
                <input type="text" name="@pc.Id-ImageUrl" value="@pc.ImageUrl" />
                <label for="@pc.Id-ImageAltText">Image Alternative Text</label>
                <input type="text" name="@pc.Id-ImageAltText" value="@pc.ImageAltText" />
                <label for="@pc.Id-Description">Description</label>
                <textarea name="@pc.Id-Description">@pc.Description</textarea>
                <label for="@pc.Id-PageContent">Page Content</label>
                <textarea name="@pc.Id-PageContent">@pc.PageContent</textarea>
                <label for="@pc.Id-ProductCategory">Product Category</label>
                <textarea name="@pc.Id-ProductCategory">@pc.ProductCategory</textarea>
                <label for="@pc.Id-CategorySlug">Category Slug</label>
                <input type="text" name="@pc.Id-CategorySlug" value="@pc.CategorySlug" />
                <label for="@pc.Id-Tags">Tags</label>
                <input type="text" name="@pc.Id-Tags" value="@pc.Tags" />
                <input type="submit" name="Submit" class="btn btn-info banner-edit" data-id="@pc.Id" value="Update" /><br />
            </div>
            active = "";
        }
}
                </div>
            </div>
        </div>
    }
    else if (ViewBag.ContentType == "product")
    {<div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
            <ul id="editTabs" class="nav nav-tabs nav-justified" role="tablist">
                @{
        string liActive = "active";
        foreach (var pd in ViewBag.ProductDetailList)
        {

            //Submit has value attribute equivalent to ID. We use the ID as prefix to find the respective Form values.
            //As we have multiple forms generated using For each, we have to append the Request with 'ID-'
            <li class="nav-item @liActive">
                <a href="#@pd.Id-pd" role="tab" data-toggle="tab">@pd.ProductName</a>
            </li>
            liActive = "";
        }
                }
            </ul>
        </div>
        <div class="panel-body">
            <div id="tabContent" class="tab-content">
                @{
        string active = "active in";
        foreach (var pd in @ViewBag.ProductDetailList)
        {
            <div id="@pd.Id-pd" class="tab-pane fade @active">
                <input type="hidden" name="@pd.Id-ContentType" value="@pd.ContentType" />
                <label for="@pd.Id-ProductName">Product Name</label>
                <input type="text" name="@pd.Id-ProductName" value="@pd.ProductName" />
                <label for="@pd.Id-ProductCategory">Product Category</label>
                <textarea name="@pd.Id-ProductCategory">@pd.ProductCategory</textarea>
                <label for="@pd.Id-ImageUrl">Image URL</label>
                <input type="text" name="@pd.Id-ImageUrl" value="@pd.ImageUrl" />
                <label for="@pd.Id-ImageAltText">Image Alternative Text</label>
                <input type="text" name="@pd.Id-ImageAltText" value="@pd.ImageAltText" />
                <label for="@pd.Id-Description">Description</label>
                <textarea name="@pd.Id-Description">@pd.Description</textarea>
                <label for="@pd.Id-PageContent">Page Content</label>
                <textarea name="@pd.Id-PageContent">@pd.PageContent</textarea>
                <label for="@pd.Id-Tags">Tags</label>
                <input type="text" name="@pd.Id-Tags" value="@pd.Tags" />
                <input type="submit" name="Submit" class="btn btn-info banner-edit" data-id="@pd.Id" value="Update" /><br />
            </div>
            active = "";
        }
}
            </div>
        </div>
    </div>
    }
    else if (ViewBag.ContentType == "clientile")
    {
        foreach (var clientile in @ViewBag.ClientileList)
        {

        }
    }

        }
    </div>
}
<script>
    $(document).ready(function () {



    });

</script>
