@{
    ViewBag.Title = "Home Page";
}

@section carousel {

    <div id="homeCarousel" class="carousel slide carousel-fade"  data-ride="carousel">
    <ol class="carousel-indicators hidden">
        @{
            int i = 0;
            foreach (var banner in ViewBag.BannerList)
            {
                if (i == 0)
                {
                    <li data-target="#
                        " data-slide-to="@i" class="active"></li>
                }
                else
                {
                    <li data-target="#homeCarousel" data-slide-to="@i"></li>
                }

                i++;
            }
        }
    </ol>
    <div class="carousel-inner" role="listbox">

        @{

            foreach (var banner in ViewBag.BannerList)
            {

                <div class="item">
                    <img class="first-slide" src="@banner.ImageUrl" alt="@banner.ImageAltText">
                    <a href="@banner.TargetUrl">
                        <div class="container">

                            <div class="carousel-caption1 carousel-caption-custom">
                                <h1>@banner.ImageHeader</h1>
                                <div class="carousel-caption-text">
                                    <p>@banner.Description</p>
                                    <p class="para-click-text">Click to know more about us...</p>
                                </div>
                            </div>
                        </div>

                    </a>
                </div>
            }
        }
    </div>



    <a class="left carousel-control carousel-custom-control" href="#homeCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"> </span>
    </a>
    <a class="right carousel-control carousel-custom-control" href="#homeCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"> </span>
    </a>


</div>

}

<div class="container-fluid">
    <div class="row content-area">
        <h1>Products Categories</h1>
        @{
            foreach (var productCategory in ViewBag.ProductCategoryList)
            {
                <a href="/product/category/@productCategory.CategorySlug" class="col-lg-5ths col-md-6 col-sm-12 col-xs-12">
                    <div class="content-box content-four">
                        <img src="@productCategory.ImageUrl" class="img-responsive" />
                        <div class="content-desc">
                            <p class="desc-heading">@productCategory.ProductCategory</p>
                            <p class="desc-writeup">@productCategory.Description</p>
                        </div>
                    </div>
                </a>
            }
        }


    </div>
</div>



@section Scripts {

    <script>
        $(document).ready(function () {
            $('.carousel-inner div.item:first').addClass('active');
            $('#homeCarousel').carousel({ interval: 15000 });
        });
    </script>
}
